# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/QtSpy/.vs
/Debug
/QtSpy/x64
/QtSpy/.qt
/QtSpy/QtSpy.dir
/QtSpy/CMakeFiles

*.user
*.filters
*.pdb
*.lib
*.sln
*.zip
*.vcxproj


*.vcxproj
*.vcxproj
QtSpy/QtSpy.vcxproj
*.txt
QtSpy/cmake_install.cmake
